# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
android/app/src/main/res/xml

# Android
android/local.properties
android/key.properties
android/.gradle/
android/app/debug.apk

# Firebase — IMPORTANT
google-services.json
android/app/google-services.json
GoogleService-Info.plist

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Environment & secrets
*.env
.env*
secrets/